<!-- NO AUTH REQUIRED -->
<div *ngIf="showNoAuthSection">
  <button id="home-menu-item" (click)="navigateTo('home')">Home</button>
  <button id="login-menu-item" (click)="navigateTo('login')">Login</button>
  <button id="register-menu-item" (click)="navigateTo('register')">Register</button>
</div>

<!-- AUTH REQUIRED -->
<div class="menu-item" *ngIf="showAuthSection">
  <button id="home-menu-item" (click)="navigateTo('home')">Home</button>
  <button id="posts-menu-item" (click)="navigateTo('posts')">Posts</button>
  <button id="categories-menu-item" (click)="navigateTo('categories')">Categories</button>
  <button id="profile-menu-item" (click)="navigateTo('profile')">Profile</button>
  <button id="logout-menu-item" (click)="logout()">Logout</button>
</div>
